{% extends "base.html" %}

{% block header %}
<div class="text-3xl font-bold">Somelite as {{user.name}}</div>
<nav>
    <ul class="flex flex-row space-x-4">
        <li><a href="home" class="hover:underline">Home</a></li>
        <li><a href="friends" class="hover:underline">Friends</a></li>
        <li><a href="groups" class="hover:underline">Groups</a></li>
        <li><a href="logout" class="hover:underline">Log out</a></li>
    </ul>
</nav>
{% endblock %}

{% block main %}

{% for i in range(posts|length) %}
{% set post = posts[i] %}
{% set name = names[i] %}
<div class="space-y-2 mb-2">
    <div class="text-2xl font-bold">{{name}}</div>
    <p class="text-gray-600">{{post.date}}</p>
    <p class="break-words max-w-xl">
        {{post.message}}
    </p>
    <div class="flex flex-row space-x-4">
    <form class="" action="#" method="POST">
        <input type="hidden" name="like_post" value="{{post.id}}">
        <button type="submit">
            <i class="mr-1 fa fa-thumbs-up"></i>
            <span>
                {{post.likes}}
            </span>
        </button>
    </form>
    <form class="" action="#" method="POST">
        <input type="hidden" name="delete_post" value="{{post.id}}">
        <button type="submit">
            <i class="fa fa-crosshairs"></i>
        </button>
    </form>
    </div>
</div>
{% endfor %}

{% endblock %}
