<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">
    <!-- Header -->
    <header class="bg-slate-600 text-white p-4">
        <div class="container mx-auto">
            <h1 class="text-3xl font-bold">Somelite as {{user.name}}</h1>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="home" class="hover:underline">Home</a></li>
                    <li><a href="friends" class="hover:underline">Friends</a></li>
                    <li><a href="groups" class="hover:underline">Groups</a></li>
                    <li><a href="logout" class="hover:underline">Log out</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="container mx-auto p-4 flex-1">
        {% for post in posts %}
        <article class="mb-6">
            <h2 class="text-2xl font-bold mb-2">{{post[0]}}<h2>
            <p class="text-gray-600 mb-4">{{post[1].date}}</p>
            <p class="mb-4">
                {{post[1].message}}
            </p>
        </article>
        <form class="space-y-6" action="#" method="POST">
            <input type="hidden" name="post_id" value="{{post[1].id}}">
            <button type="like">Like {{post[1].likes}}</button>
        </form>
 
        {% endfor %}

    </main>

    <!-- Footer -->
    <footer class="bg-slate-800 text-white p-4">
        <div class="container mx-auto">
            <p>Hi!</p>
        </div>
    </footer>
</body>

</html>
